* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    justify-content: center;
    margin-top: 30px;
}

.container form select {
    width: 100%;
    height: 45%;
    padding: 5px 0;
    margin: 15px 0 20px;
    border: solid 1px rgba(255, 255, 255, 0.2); 
    border-radius: 0.3rem;
    background-color: #1e1e1e;
    color: #e1e1e1;
    outline: none;
}

.container form select:focus-visible {
    outline: dotted rgba(255, 255, 255, 0.4);
}

.buttonAdd {
    margin-top: 15px;
    background: linear-gradient(to right,#bcc499,#506266);
    border-width: 3px;
    border-radius: 8px;
    font-size: large;
}

.buttonAdd:hover {
    transform: translateY(5px);
}

.buttonFinalize {
    margin-top: 15px;
    background: red;
    border-width: 3px;
    border-radius: 8px;
    font-size: large;
}

.buttonFinalize:hover {
    transform: translateY(5px);
}