.Body{
  font-family: Arial;
  font-size: 25px;
}

.Titulo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 50px;
}

.TextoAss {
  font-family: Arial;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding-right: 45px;
  margin-top: 25px;
}

